<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3 class="blockquote text-center py-3">Mail Here across all Platforms</h3>
    </div>
    <form action="" method="post">
        <div class="form-group px-5 py-2">
            <label class="sr-only"for="email">E-Mail:</label>
             <input class="form-control"type="email" name="email" id="email" placeholder="Enter the Mail Here ">
        </div>
        <div class="form-group px-5 py-2">
            <div class="col col mr-2 text-center">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
    </form>
    <div class="container">
         <footer class="page-footer-copyright font-small blue">
        <div class="footer-copyright text-center mt-auto py-4">Powered By NodeMailer</div>
    </footer>
    </div>
   
</body>
</html>